<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4>Hiring process - Dashboard
                <a routerLink="/employee/create" class="btn btn-primary float-end">Create</a>
            </h4>
        </div>
        <div class="card-body">

            <div *ngIf="isLoading; else elseTableBlock">
                <app-loader :title="loadingTitle"></app-loader>
            </div>
            <ng-template #elseTableBlock>
                <table class="table tabl-striped">
                    <thead>
                        <tr>
                            <th *ngFor="let item of this.stage" scope="col">{{item}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <!-- <div 
                                    cdkDropList
                                    [cdkDropListData]="this.applied"
                                    class="example-list"
                                    (cdkDropListDropped)="drop($event)">
                                    @for (item of this.applied; track item) {
                                        <div class="example-box" cdkDrag>{{item.name}} - {{item.phone}}</div>
                                    }
                                </div> -->
                                <ul class="tui-list" (drop)="onDrop($event,'Applied')" (dragover)="onDragOver($event)">
                                    <li *ngFor="let item of filterCandidates('Applied')" class="tui-list__item" (dragstart)="onDragStart(item)" draggable="true"> 
                                        {{item.name}} - {{item.phone}}
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="tui-list" (drop)="onDrop($event,'Interviewing')" (dragover)="onDragOver($event)">
                                    <li *ngFor="let item of filterCandidates('Interviewing')" class="tui-list__item" (dragstart)="onDragStart(item)" draggable="true"> 
                                        {{item.name}} - {{item.phone}}
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="tui-list" (drop)="onDrop($event,'Offered')" (dragover)="onDragOver($event)">
                                    <li *ngFor="let item of filterCandidates('Offered')" class="tui-list__item" (dragstart)="onDragStart(item)" draggable="true"> 
                                        {{item.name}} - {{item.phone}}
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="tui-list" (drop)="onDrop($event,'Hired')" (dragover)="onDragOver($event)">
                                    <li *ngFor="let item of filterCandidates('Hired')" class="tui-list__item" (dragstart)="onDragStart(item)" draggable="true"> 
                                        {{item.name}} - {{item.phone}}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table> 
            </ng-template>
        </div>
    </div>
    
</div>