<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4>Hiring process - Dashboard
            </h4>
        </div>
        <div class="card-body">

            <div *ngIf="isLoading; else elseTableBlock">
                <app-loader :title="loadingTitle"></app-loader>
            </div>
            <ng-template #elseTableBlock>
                <table class="table tabl-striped">
                    <thead>
                        <tr>
                            <th *ngFor="let item of this.stage" scope="col">{{item}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="example-container">
                                    <div class="cdk-drop-list example-list" (drop)="onDrop($event,'Applied')" (dragover)="onDragOver($event)">
                                        <div class="cdk-drag example-box ng-star-inserted" *ngFor="let item of filterCandidates('Applied')" (dragstart)="onDragStart(item)" draggable="true"> 
                                            Name: {{item.name}} <br>
                                            Phone: {{item.phone}}<br>
                                            Email: {{item.email}}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="example-container">
                                    <div class="cdk-drop-list example-list" (drop)="onDrop($event,'Interviewing')" (dragover)="onDragOver($event)">
                                        <div class="cdk-drag example-box ng-star-inserted" *ngFor="let item of filterCandidates('Interviewing')" (dragstart)="onDragStart(item)" draggable="true"> 
                                            Name: {{item.name}} <br>
                                            Phone: {{item.phone}}<br>
                                            Email: {{item.email}}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="example-container">
                                    <div class="cdk-drop-list example-list" (drop)="onDrop($event,'Hired')" (dragover)="onDragOver($event)">
                                        <div class="cdk-drag example-box ng-star-inserted" *ngFor="let item of filterCandidates('Hired')" (dragstart)="onDragStart(item)" draggable="true"> 
                                            Name: {{item.name}} <br>
                                            Phone: {{item.phone}}<br>
                                            Email: {{item.email}}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="example-container">
                                    <div class="cdk-drop-list example-list" (drop)="onDrop($event,'Offered')" (dragover)="onDragOver($event)">
                                        <div class="cdk-drag example-box ng-star-inserted" *ngFor="let item of filterCandidates('Offered')" (dragstart)="onDragStart(item)" draggable="true"> 
                                            Name: {{item.name}} <br>
                                            Phone: {{item.phone}}<br>
                                            Email: {{item.email}}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table> 
            </ng-template>
        </div>
    </div>
    
</div>